@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #686de0;
  overflow: hidden;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 325px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 50px 20px;
}

.title {
  letter-spacing: 2px;
  opacity: 0.5;
  margin: 0;
}

.joke {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  margin: 50px auto;
}

.btn {
  font-size: 16px;
  color: #fff;
  background-color: #9f68e0;
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 15px 40px;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
}

@media (min-width: 768px) {
  .container {
    max-width: 625px;
  }

  .joke {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 1px;
    margin: 50px auto;
  }
}